*{
    margin: 0;
    padding: 0;
}
.nav{
    width: 100%;
    background-color: #ffffff; 
    display: flex;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
}
.nav h4{
    font-size: 2rem;
    color: rgba(99, 132, 238, 0.911);
    margin-left: 20px;
    padding-right:900px;
}

.links{
    gap : 60px;
    display: flex;
    color: rgb(185, 185, 4);
    text-decoration: none;
    
    
}
.links a{
    margin-top: 0%;
    color: rgba(8, 26, 189, 0.815);
}
